<%- include('./header.ejs', {name: "Animals app home"}) %>
    <h1>The Animal Kingdom</h1>
    <img src="http://cdn.shopify.com/s/files/1/0260/8218/1199/products/80338AnimalKingdom.jpg?v=1589387252.jpg" alt="Image of an animal">
</body>
</html>
